* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    max-width: 780px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    align-content: center;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #343434;
}

header >img {
    grid-column: 1;
    width: 100%;
    padding: 10px;
   border-radius: 180px;
}

.media {
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
    padding: 0 20px;
}

.logo-media {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

h1 {
    color: #FFFFFF;
    font-size: 1.6rem;
    text-align:center;
}
h3, h4 {
    color: #2F22FF;
}

h3 {
    margin-bottom: 20px;
    
}
h4 {
    margin: 20px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    
}

.logo-media img {
    width:40px;
    height: 40px;
    padding: 2px;
    background-color: #FFFFFF;
    border-radius: 180px;
}

nav {

    max-width: 300px;
    margin: 1rem auto;
}

#buttonMenu {
    font-size: 1.5rem;
    border: 1px solid #413f3f;
    margin-left: 20px;
    padding: .25rem .75rem;
    background-color: #2F22FF;
    color: #ffffff;
}

#buttonMenu span {
    display: none;
}

#buttonMenu::before {
    content: "☰";
}

#buttonMenu.open::before {
    content: 'X';
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #2F22FF;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    margin: 2px;
}

.navigation a:hover {
    background-color: #413f3f;
    border: 1px solid #fff;
}

/* set button when is clicked*/

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}
/* Style main for index page */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-image {
    position: relative;
}

.hero-image img {
    width: 100%;
    padding: 20px;
}

.hero-image h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: #343434;
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
    padding: 10px;
    border-radius: 35px;
    opacity: 0.8;
}

#join-us {
    position: absolute;
    top: 10%;
    right: 25%;
    background-color: #2F22FF;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.event, .weather, .spotligths {
margin: 20px;    

}

.spotligths {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 20px;
}

.spotligth-first-company img{
     width: 100%;
     margin: 20px;
}

.spotligth-second-company img{
    width: 100%;
    margin: 20px;
   
}
.spotligth-third-company img{
   
    margin: 20px;
    
}
figcaption{
    margin: 20px;
}

/* Style main for discover page */

.main-for-discover-page {
    display: grid;
    grid-auto-rows: auto auto auto auto auto auto auto;
    margin: 20px;
}

.main-for-discover-page h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #2F22FF;

}

.main-for-discover-page img {
    object-fit: cover;
  
}

.main-for-discover-page div p {
    text-align: justify;
    text-indent: 15px;
}

.history {
    grid-row: 1;
}

.economy {
    grid-row: 2;
}

.gallery {
    grid-row: 7;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px;
}

.visits {
    color: #2F22FF;
    font-size: 1.5rem;
}

.gallery a {
    margin: 10px;
    text-decoration: none;
    text-align: center;
}

/* Style join page */

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: var(--white);
}

form label {
    display: block;
    padding-top: 1rem;
    color: #2F22FF;
    font-size: .8rem;
}

form label input, select,textarea {
    -webkit-appearance:none ;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    
}

#submitBtn {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #2F22FF;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: #343434;
    color: #FFFFFF;
    font-size: .9rem;
    padding: 0;
    text-align: center;
}

