@media screen and (min-width: 640px) {
    header {
        display: grid;
    }

    header>img {
        width: 150px;
        height: 140px;

    }

    .media {
        display: grid;
        grid-template-columns: auto auto;
    }

    h1 {
        font-size: 1.7rem;
        margin-right: 20px;
    }

    .logo-media {
        display: flex;
        justify-content: space-between;
    }

    .logo-media img {
        height: 40px;
    }


    nav {
        max-width: 100%;
        margin: 20px;
    }

    #buttonMenu  {
        display: none;
    }

   

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navigation li {
        display: block;
        flex: 1;

    }

    .navigation li a {
        font-size: 1.4rem;
    }


    .main-home-page {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        justify-content: center;

    }

    .hero-image {
        grid-row: 1;
        grid-column: 1/3;
    }

    .hero-image img {
        width: 100%;
    }

    #join-us {
        top: 8%;
        right: 8%;
    }

    .event {
        grid-column: 1;
    }

    .weather {
        grid-column: 2;
    }

    .spotlights {
        grid-column: 1/3;
        display: flex;
        column-gap: 15px;
    }

    /* Styles of discover page */
    .main-for-discover-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .gallery {
        grid-column: 2;
        grid-row: 1/4;
    }

    .gallery img:hover {
       opacity: 0.5;
    }

    /* style of directory page */

    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .list section {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        justify-items: center;
        border: 0;
    }


    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        gap: 10px;
    }
}