* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 960px;
    margin: auto;
}

header {
    background-color: #413f3f;
    display: flex;
    align-items: center;
    align-content: center;
    align-content: space-around;
    color: #ffffff;
    padding: 10px;
    text-align: center;

}

header img {
    width: 160px;
    height: 160px;
    border-radius: 40px;
}

h1 {
    font-size: 1.2rem;
    margin-left: 15px;
    font-weight: 100;
}

#dark-mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    
}

#dark-mode span {
    display: none;
}

.dark-mode{
  background-color:  #000;
  color: #ffffff;
}

#dark-mode::before {
    content: url("../images/dark-mode.webp");
    background: #000;
}

#dark-mode.light-mode::before {
    content: url("../images/light-bulb.webp");
}

nav {

    max-width: 700px;
    margin: 1rem auto;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid #413f3f;
    margin-left: 20px;
    padding: .25rem .75rem;
    background-color: #2F22FF;
    color: #ffffff;
}

#menu span {
   display: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #2F22FF;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    margin: 2px;
}

.navigation a:hover {
    background-color: #413f3f;
    border: 1px solid #fff;
}

/* set button when is clicked*/

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active {
    background-color: #413f3f;
}

main {
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 10px;
    padding: 10px;
}


h2 {
    grid-row: 1;
    margin: 20px 0;
    border-bottom: 1px solid #000;
    font-size: 1rem;

}

.cards {
    grid-row: 2;
    display: grid;
    grid-template-rows: auto 1fr;
    border: 1px solid #000;
    height: 280px;
    width: auto;
    margin-bottom: 10px;
}

.cards h3 {
    background-color: #2F22FF;
    color: #fff;
    grid-row: 1;
    text-align: center;
    padding: 20px 0;
    font-size: 1.4rem;
}

.cards ul {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

ul li {
    list-style: none;
    font-size: 1rem;
    padding: 6px;
}

.infos {
    grid-row: 3;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    border: 1px solid #000;
    width: auto;
    height: 280px;

}

.infos h3 {
    grid-row: 1;
    background-color: #2F22FF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 1.4rem;
}

.infos article {

    font-size: 1.3rem;
    padding-left: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #413f3f;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

footer p {
    font-size: 1.2rem;
}