
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    max-width: 960px;
}

header {
    background-color: #413f3f;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: center;
    margin: 20px;

}

img {
    background-color: #000;
    animation: fade 3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.profil-photo img {
    width: 100%;
    height: auto;
    border-radius: 40px;
    margin: 10px;
}

h1 {
    font-size: 1.2rem;
    margin: 15px;
    font-weight: 100;
}

#buttonDarkMode {
    position: absolute;
    top: 1.8rem;
    right: 1.6rem;
    
}

#buttonDarkMode span {
    display: none;
}

.dark-mode{
  background-color:  #000;
  color: #ffffff;
}

#buttonDarkMode::before {
    content: url("../images/dark-mode.webp");
    background: #000;
}

#buttonDarkMode.light-mode::before {
    content: url("../images/light-bulb.webp");
}

nav {

    max-width: 700px;
    margin: 1rem auto;
}

#buttonMenu {
    font-size: 1.5rem;
    border: 1px solid #413f3f;
    margin-left: 20px;
    padding: .25rem .75rem;
    background-color: #2F22FF;
    color: #ffffff;
}

#buttonMenu span {
   display: none;
}

#buttonMenu::before {
    content: "☰";
}

#buttonMenu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #2F22FF;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    margin: 2px;
}

.navigation a:hover {
    background-color: #413f3f;
    border: 1px solid #fff;
}

/* set button when is clicked*/

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active {
    background-color: #413f3f;
}

main {
    display: flex;
   flex-direction: column;
   justify-content: center;
    margin: 10px;
    padding: 10px;
}

.hero {
    grid-row: 1;
    position: relative;
    
  }

  .hero img {
    width: 100%;
    height: auto;
  }

  .hero-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: 1px solid #000;
    background: radial-gradient(#ffffff, #646f9e);
    opacity: 0.75;
    box-shadow: 0 0 3rem #fff;
    padding: 10px;
    border-radius: 15px;
  }

  .hero-label p {
    font-size: 1.4rem;
    font-family: 'Dancing Script', cursive;
    
  }

h2 {
    grid-row: 2;
    margin: 20px 0;
    border-bottom: 1px solid #000;
    font-size: 1rem;

}

.main-content {
    grid-row: 3;
    display: grid;
    grid-template-rows: auto auto;
    
}

.cards {
    grid-row: 1;
    display: grid;
    grid-template-rows: auto 1fr;
    border: 1px solid #000;
    width: auto;
    margin-bottom: 10px;
}

.cards h3 {
    background-color: #2F22FF;
    color: #fff;
    grid-row: 1;
    text-align: center;
    padding: 20px 0;
    font-size: 1.4rem;
}

.cards ul {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

ul li {
    list-style: none;
    font-size: 1rem;
    padding: 6px;
}

.infos {
    grid-row: 2;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    border: 1px solid #000;
    width: auto;
    height: 280px;
    margin-bottom: 10px;

}

.infos h3 {
    grid-row: 1;
    background-color: #2F22FF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 1.4rem;
}

.infos div {

    font-size: 1.3rem;
    padding-left: 10px;
}
.weather {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
}

.weather img {
    background-color: #FFF;
    margin-top: 0;
}
.weather p {
    padding-top: 30px;
}


.infos p {
    text-align: center;
    color: #2F22FF;
}
 .map iframe {
    width: 100%;
    height: auto;
 }

 /* Style Form */

 
footer {
    display: flex;
    flex-direction: column;
    background-color: #413f3f;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

footer p {
    font-size: 1.2rem;
}