
:root {
    --white: #eee;
    --blue: #2F22FF;
    --hover-color-input:  rgb(0, 0, 0, 0.1);
    --button-background-color: #413f3f;
}



form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: var(--white);
}

input:hover {
    background-color:var(--hover-color-input);
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: var(--blue);
    font-size: .8rem;
}

form label.top input {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    
}
.rate {
   display: flex;
   flex-direction: column; 
}

input[type=range] {
    
    padding: .6rem;
}

#rangevalues {
    color: var(--blue);
    font-size: 1rem;
    display: flex;

}

#rangevalues option {
    flex:1 1 auto;
    margin-left: 15px;
}

#submitBtn:focus{
    background-color:var(--white);
}

#submitBtn:hover {
    background-color: var(--button-background-color);
}

#messagedisplay {
    padding-top: 10px;
    color: red;
}

.weather, .visits {
    display: none;
}

form #submitBtn {
    border: none;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 1rem;
    padding: .5rem;
    margin-top: 1rem;
    width: 46%;
    max-width: 10rem;
}
